.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn.lock
npm.lock
yarn-error.log*
coverage
.nyc_output

# Editor directories and files
Thumbs.db
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
